 .box{
        width: 100px;
        height: 100px;
        background: blue;
        margin: 10px;
        text-align: center;
    }

    .container{
    	flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        background: palegoldenrod;
        margin: 50px;
    }
    .q {
        height: 100%;
        width: auto;
    }